@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  /* Light gray background */
  --foreground: #111827;
  /* Dark text */

  --card: #ffffff;
  --card-foreground: #111827;

  --popover: #ffffff;
  --popover-foreground: #111827;

  --primary: #10b981;
  /* Emerald green */
  --primary-foreground: #ffffff;

  --secondary: #e5e7eb;
  /* Light gray for secondary elements */
  --secondary-foreground: #1f2937;

  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  /* Gray text */

  --accent: #f59e0b;
  --accent-foreground: #ffffff;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #10b981;

  --radius: 0.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}